<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Tạo biên bản" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Xóa" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedBienban()" [disabled]="!selectedBienbans || !selectedBienbans.length"></button>
             
  
        </ng-template>
        <ng-template pTemplate="right">
            
            <button pButton pRipple label="In biên bản"  class="p-button-danger"
              (click)="deleteSelectedBienban()" [disabled]="!selectedBienbans || !selectedBienbans.length"></button>
             
  
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="bienbanlists" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="bienbanlistSelected" [rowHover]="true" dataKey="soBbanTcong"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-grid">
                <div class="p-col-4 p-d-flex p-jc-start">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Lọc biên bản giao..." />
                  </span>
                </div>
                <div class="p-col-8 p-d-flex p-jc-end">
                  
                  <!-- <div class="p-mb-2 p-mr-2">
                    <p-multiSelect [options]="nguoiTHiens"  defaultLabel="Người thực hiện" [dataKey]="value"
                      class="multiselect-custom">
                    </p-multiSelect>
                  </div> -->
                  <div class="p-mb-2 p-mr-2">
                    <p-multiSelect  [(ngModel)]="selectedNGiaos" defaultLabel="Nhân viên"
                      [dataKey]="value" class="multiselect-custom">
                    </p-multiSelect>
                  </div>
                  <div class="p-mb-2 p-mr-2">
                  <p-calendar inputId="ngaygiaotu"  dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Từ ngày"></p-calendar>
                  </div>
                  <div class="p-mb-2 p-mr-2">
                    <p-calendar inputId="ngaygiaoden"  dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Đến ngày"></p-calendar>
                  </div>
                 
                  
                  
                  <div class="p-mb-2 p-mr-2">
                    <button pButton pRipple (click)="seenData()" icon="pi pi-search"
                      class="p-button-success p-mt-1"></button>
                  </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="text-align: center;" pSortableColumn="name">Số biên bản <p-sortIcon field="name"></p-sortIcon></th>
              
                <th style="text-align: center;" pSortableColumn="price">Ngày quyết toán <p-sortIcon field="price"></p-sortIcon></th>
                <th style="text-align: center;" pSortableColumn="category">Người quyết toán<p-sortIcon field="category"></p-sortIcon></th>
                <th style="text-align: center;" pSortableColumn="category">Người thực hiên<p-sortIcon field="category"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bienbanlist>
            <tr>
                <td>
                    <p-tableCheckbox [value]="bienbanlist"></p-tableCheckbox>
                </td>
                <td style="text-align: center;" >{{bienbanlist.soBbanTcong}}</td>
                <td style="text-align: center;">{{bienbanlist.soBbanTcong}}</td>
                <td style="text-align: center;">{{bienbanlist.soBbanTcong}}</td>
                
                <td><span [class]="'product-badge status-' + (bienbanlist.trangThai ? bienbanlist.trangThai : 0)">{{loadNameStatus(bienbanlist.trangThai)}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(bienbanlist)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(bienbanlist)"></button>
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng biên bản: {{bienbanlists ? bienbanlists.length : 0 }}
            </div>
        </ng-template> -->
    </p-table>
</div>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>