<div class="login-body">
  <div class="login-panel p-fluid">
    <div class="login-panel-header">
      <img src="assets/layout/images/logo-spc-ngang.png">
    </div>
    <div class="login-panel-content">
      <div class="p-grid">
        <div class="p-col-12">
          <h1>ỨNG DỤNG KINH DOANH VÀ DỊCH VỤ KHÁCH HÀNG</h1>
          <p-messages [value]="msgs" [closable]="false"></p-messages>
        </div>
        <div class="p-col-12">
          <span class="p-field">
            <label>Tài khoản</label>
            <input type="text" pInputText [(ngModel)]="userName" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !userName">Vui lòng nhập tài khoản đăng nhập!</small>
          </span>
        </div>
        <div class="p-col-12">
          <span class="p-field">
            <label>Mật khẩu</label>
            <input type="password" pInputText [(ngModel)]="password" required />
            <small class="p-invalid" *ngIf="submitted && !password">Vui lòng nhập mật khẩu!</small>
          </span>
        </div>
        <div class="p-col-12">
          <button pButton type="button" label="Đăng nhập" (click)="login()" icon="pi pi-user"></button>
        </div>
        <div class="p-col-12">
          <a routerLink="/sendmail">Tài khoản của bạn không thể đăng nhập?</a>
        </div>
      </div>
    </div>
  </div>
</div>
