<div class="p-grid">
    <div class="p-col-12">
  
      <p-toast></p-toast>
  
      <p-toolbar>
        <ng-template pTemplate="left">
          <button pButton pRipple label="Quay lại" (click)="back()" icon="pi pi-angle-double-left"
            class="p-button-warning"></button>
        </ng-template>
  
        <ng-template pTemplate="right">
          <button pButton pRipple label="In biên bản" icon="pi pi-print" class="p-button-info p-mr-2"></button>
          <button pButton pRipple label="Huỷ" icon="pi pi-pencil" class="p-button-danger p-mr-2"></button>
          <button pButton pRipple label="Lưu biên bản" (click)="save()"
            [disabled]="!selectedKhangs || !selectedKhangs.length" icon="pi pi-save" class="p-button-raised"></button>
        </ng-template>
      </p-toolbar>
      
      <p-toolbar>
        <ng-template pTemplate="left">
          <!-- <button pButton pRipple label="Quay lại" (click)="back()" icon="pi pi-angle-double-left"
            class="p-button-warning"></button> -->
        </ng-template>
  
        <ng-template pTemplate="right">
          <div class="p-grid">
            <div class="p-col-4 p-d-flex p-jc-start">
             
            </div>
            <div class="p-col-8 p-d-flex p-jc-end">
              <div class="p-mb-1 p-mr-2">
                <input pInputText type="text" 
                      placeholder="Số biên bản quyết toán" />
              </div>
              <div class="p-mb-2 p-mr-2">
                <p-calendar inputId="ngaygiaotu"  
                dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Ngày quyết toán">
              </p-calendar>
              </div>
              
             
              <div class="p-mb-2 p-mr-2">
                <p-multiSelect  [(ngModel)]="selectedNGiaos" defaultLabel="Người thực hiện"
                  [dataKey]="value" class="multiselect-custom">
                </p-multiSelect>
              </div>
              
              <div class="p-mb-2 p-mr-2">
                <button pButton pRipple (click)="seenData()" icon="pi pi-search"
                  class="p-button-success p-mt-1"></button>
              </div>
            </div>
        </div>
          
        </ng-template>
      </p-toolbar>
    </div>
    <div class="p-col-12 p-md-4">
      <p-table #dtBBan [value]="bienbans" [rows]="20" [paginator]="true" selectionMode="single"
        [globalFilterFields]="['SO_BIEN_BAN','NGAY_GIAO']" [(selection)]="selectedBienban" [rowHover]="true"
        dataKey="SO_BIEN_BAN" (onRowSelect)="onRowSelect($event)">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Biên bản giao</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dtBBan.filterGlobal($event.target.value, 'contains')"
                placeholder="Lọc..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="SO_BIEN_BAN">Biên bản <p-sortIcon field="SO_BIEN_BAN"></p-sortIcon>
            </th>
            <th pSortableColumn="NGAY_GIAO">Ngày<p-sortIcon field="NGAY_GIAO"></p-sortIcon>
            </th>
            <th pSortableColumn="TRANG_THAI">Trạng thái <p-sortIcon field="TRANG_THAI">
              </p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bienban>
          <tr [pSelectableRow]="bienban">
            <td>
              {{bienban.SO_BIEN_BAN}}
            </td>
            <td>
              {{datePipe.transform(bienban.NGAY_GIAO, 'dd/MM/yyyy')}}
            </td>
            <td>
              <span [class]="'bienban-badge status-' + bienban.TRANG_THAI">{{getTThaiBienBan(bienban.TRANG_THAI)}}</span>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Tổng cộng {{bienbans ? bienbans.length : 0 }} biên bản nhận.
          </div>
        </ng-template> -->
      </p-table>
    </div>
    <div class="p-col-12 p-md-8">
      <p-table #dtKHang [value]="khachhangs" [rows]="10" [paginator]="true" selectionMode="multiple"
        [globalFilterFields]="['MA_KHANG','TEN_KHANG','DTHOAI','EMAIL']" [(selection)]="selectedKhangs" [rowHover]="true"
        dataKey="ID_KHANG" currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Danh sách vật tư</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dtKHang.filterGlobal($event.target.value, 'contains')"
                placeholder="Lọc..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="MA_KHANG" class="p-col-2">Mã vật tư<p-sortIcon field="MA_KHANG"></p-sortIcon>
            </th>
            <th pSortableColumn="DIA_CHI" class="p-col-2">Tên<p-sortIcon field="DIA_CHI"></p-sortIcon>
            </th>
            <th pSortableColumn="DTHOAI" class="p-col-2">ĐVT<p-sortIcon field="DTHOAI"></p-sortIcon>
            </th>
            <th pSortableColumn="TRANG_THAI" class="p-col-3">SL Giao<p-sortIcon field="TRANG_THAI">
              </p-sortIcon>
            </th>
            <th pSortableColumn="TRANG_THAI" class="p-col-3">SL Thực hiện<p-sortIcon field="TRANG_THAI">
            </p-sortIcon>
          </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-khachhang let-rowIndex="rowIndex">
          <tr [pSelectableRow]="khachhang" [pSelectableRowIndex]="rowIndex">
            <td>
              <p-tableCheckbox *ngIf="khachhang.TRANG_THAI !== 0" [value]="khachhang" [pSelectableRow]="khachhang"
                [pSelectableRowIndex]="rowIndex"></p-tableCheckbox>
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12">
                  {{khachhang.MA_KHANG}}
                </div>
                <div class="p-col-12">
                  {{khachhang.TEN_KHANG}}
                </div>
              </div>
            </td>
            <td>
             
            </td>
            <td>
              
            </td>
            <td>
              <span
                [class]="'khachhang-badge status-' + khachhang.TRANG_THAI">{{this.bbanService.getTThaiKhachHang(selectedBienban.TRANG_THAI, khachhang.TRANG_THAI)}}</span>
            </td>
            <td>
              <span
                [class]="'khachhang-badge status-' + khachhang.TRANG_THAI">{{this.bbanService.getTThaiKhachHang(selectedBienban.TRANG_THAI, khachhang.TRANG_THAI)}}</span>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Có tổng cộng {{khachhangs ? khachhangs.length : 0 }} khách hàng.
          </div>
        </ng-template> -->
      </p-table>
    </div>
  </div>


  <div class="card">
    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Chi tiết biên bản giao</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" 
                    (input)="dt.filterGlobal($event.target.value, 'contains')" 
                    placeholder="Lọc..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Số biên bản <p-sortIcon field="name"></p-sortIcon></th>
                <th>Khách hàng</th>
                <th pSortableColumn="price">Mã vật tư <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category">Tên vật tư <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating">ĐVT <p-sortIcon field="rating"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">SL Giao <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">SL Thực hiên <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.name}}</td>
                <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td>
                <td>{{product.price | currency:'USD'}}</td>
                <td>{{product.category}}</td>
                <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td>
                <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>
  