<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple label="Xóa" icon="pi pi-trash" class="p-button-danger"
            (click)="this.deleteSelectedAccounts()" [disabled]="!selectedAccounts || !selectedAccounts.length"></button>
        </ng-template>

        <!-- <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template> -->
      </p-toolbar>

      <p-table #dt [value]="accounts" [columns]="cols" [rows]="10" [paginator]="true"
        [globalFilterFields]="['userAccount','phone','nameDevice','status']" [(selection)]="selectedAccounts"
        [rowHover]="true" dataKey="maUser" currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Bảng tài khoản</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="userAccount" class="p-col-2">Tài khoản<p-sortIcon field="userAccount"></p-sortIcon>
            </th>
            <th pSortableColumn="userAccount" class="p-col-2"> Họ và tên <p-sortIcon field="userAccount"></p-sortIcon>
            </th>
            <th pSortableColumn="userAccount" class="p-col-2">Email<p-sortIcon field="userAccount"></p-sortIcon>
            </th>
            <th pSortableColumn="phone" class="p-col-2">Số điện thoại <p-sortIcon field="phone"></p-sortIcon>
            </th>
            <th pSortableColumn="nameDevice" class="p-col-2">Tên thiết bị <p-sortIcon field="nameDevice"></p-sortIcon>
            </th>
            <th pSortableColumn="status" style="text-align: center;" class="p-col-2">Hoạt động <p-sortIcon
                field="status">
              </p-sortIcon>
            </th>
            <th class="p-col-2"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
          <tr>
            <td>
              <p-tableCheckbox [value]="account"></p-tableCheckbox>
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12">
                  {{account.ACCOUNT_NAME}}
                </div>
              </div>
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12">
                  {{account.FULL_NAME}}
                </div>
              </div>
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12">
                 
                  <a href="mailto:{{account.EMAIL}}">
                    {{account.EMAIL}}
                  </a>
                </div>
                
              </div>
            </td>
            <td>
              <div class="p-grid">
                
                <div class="p-col-12">
                  
                  <a href="tel: {{account.MOBILE}}">
                    {{account.MOBILE}}
                  </a>
                </div>
              </div>
            </td>
            <td>{{account.DEVICE_NAME}}</td>
            <td style="text-align: center;">
              <p-checkbox 
                [binary]="account.STATUS"
                value="account.STATUS" 
                [value]="account.STATUS" 
                [editable]="false"  
                [(ngModel)]="account.STATUS" 
                name="chb"
                [disabled]="true" ></p-checkbox>
            </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editAccount(account)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteAccount(account)"></button>
              <!-- <span>
                <button type="button" pButton pRipple icon="pi pi-bars" class="p-button-rounded"
                  (click)="actions.toggle($event)"></button>
                <p-menu #actions popup="popup" appendTo="body" [model]="items"></p-menu>
              </span> -->
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Có tổng {{accounts ? accounts.length : 0 }} tài khoản.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="accountDialog" [style]="{width: '40rem'}" [closable]="false"  header="Chi tiết tài khoản" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field" >
          <p-dropdown [filter]="true" [filterBy]="'label'" [tooltipPosition]="top" [options]="categories" [showClear]="true" placeholder="Chọn thiết bị" 
          [(ngModel)]="selectCategory" optionDisabled="inactive"></p-dropdown>
        </div>
        <div class="p-field">
          <label for="name">Tài khoản(<span style="color: red;">*</span>)</label>
          <input [maxLength]="50" type="text" pInputText id="userAccount" [(ngModel)]="account.ACCOUNT_NAME" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !account.ACCOUNT_NAME">Tài khoản không để trống.</small>
        </div>
        <div class="p-field">
          <label for="userAccount">Họ và tên(<span style="color: red;">*</span>)</label>
          <input [maxLength]="100" type="text" pInputText id="userName" [(ngModel)]="account.FULL_NAME" required />
          <small class="p-invalid" *ngIf="submitted && !account.FULL_NAME">Họ và tên không để trống.</small>
        </div>
        <div class="p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-7">
            <label for="price">Email(<span style="color: red;">*</span>)</label>
            <input id="email" type="text" [(ngModel)]="account.EMAIL"  pInputText>
            <small class="p-invalid" *ngIf="submitted && !account.EMAIL">Email không để trống.</small>
          </div>
          <div class="p-field p-col-12 p-md-5">
            <label for="email">Số điện thoại(<span style="color: red;">*</span>)</label>
            <input [minLength]="10" [maxLength]="13" type="phone" [(ngModel)]="account.MOBILE" id="phone" pInputText>
            <small class="p-invalid" *ngIf="submitted && !account.MOBILE">Số điện thoại không để trống.</small>
            
          </div>
         
        </div>
        <div class="p-field">
          <label for="name">Mật khẩu</label>
          <input type="password"  id="password1" pPassword [(ngModel)]="account.PASSWORD"  />
        </div>
        
        <div class="p-field-checkbox">
          <p-checkbox 
                [binary]="true"
                [value]="status" 
                [(ngModel)]="status" 
                name="chb"
                [disabled]="false" ></p-checkbox>
          <label for="ch">Hoạt động</label>
      </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAccount()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
