<div class="layout-config" [ngClass]="{'layout-config-active': app.configActive}" (click)="app.onConfigClick($event)">
    <!-- <a style="cursor: pointer" id="layout-config-button" class="layout-config-button" (click)="onConfigButtonClick($event)">
        <i class="pi pi-cog"></i>
    </a> -->
    <a style="cursor: pointer" class="layout-config-close" (click)="onConfigCloseClick($event)">
        <i class="pi pi-times"></i>
    </a>
    <div class="layout-config-content">
        <h5 style="margin-top: 0">Input Style</h5>
        <div class="p-formgroup-inline">
            <div class="p-field-radiobutton">
                <p-radioButton name="inputStyle" value="outlined" [(ngModel)]="app.inputStyle"
                               inputId="inputStyle1"></p-radioButton>
                <label for="inputStyle1">Outlined</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="inputStyle" value="filled" [(ngModel)]="app.inputStyle" inputId="inputStyle2"></p-radioButton>
                <label for="inputStyle2">Filled</label>
            </div>
        </div>

        <h5>Ripple Effect</h5>
        <p-inputSwitch [ngModel]="app.ripple" (onChange)="app.onRippleChange($event)"></p-inputSwitch>

        <h5>Menu Type</h5>
        <div class="p-formgroup-inline">
            <div class="p-field-radiobutton">
                <p-radioButton name="layoutMode" value="overlay" [(ngModel)]="app.layoutMode" inputId="mode1"></p-radioButton>
                <label for="mode1">Vertical</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="layoutMode" value="horizontal" [(ngModel)]="app.layoutMode" inputId="mode2"></p-radioButton>
                <label for="mode2">Horizontal</label>
            </div>
        </div>

        <h5>Menu Colors</h5>
        <div class="p-formgroup-inline">
            <div class="p-field-radiobutton">
                <p-radioButton name="darkMenu" [value]="true" [(ngModel)]="app.darkMenu" inputId="darkMenu1"></p-radioButton>
                <label for="darkMenu1">Dark</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="darkMenu" [value]="false" [(ngModel)]="app.darkMenu" inputId="darkMenu2"></p-radioButton>
                <label for="darkMenu2">Light</label>
            </div>
        </div>

        <h5>Orientation</h5>
        <div class="p-formgroup-inline">
            <div class="p-field-radiobutton">
                <p-radioButton name="isRTL" [value]="false" [(ngModel)]="app.isRTL" inputId="isRTL1"></p-radioButton>
                <label for="isRTL1">LTR</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="isRTL" [value]="true" [(ngModel)]="app.isRTL" inputId="isRTL2"></p-radioButton>
                <label for="isRTL2">RTL</label>
            </div>
        </div>

        <h5>Theme Modes</h5>
        <div class="p-formgroup-inline">
            <div class="p-field-radiobutton">
                <p-radioButton name="compactMode" [value]="true" [(ngModel)]="app.compactMode" inputId="compactMode1"
                               (onClick)="changeThemeStyle($event, true)"></p-radioButton>
                <label for="compactMode1">Compact</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="compactMode" [value]="false" [(ngModel)]="app.compactMode" inputId="compactMode2"
                               (onClick)="changeThemeStyle($event, false)"></p-radioButton>
                <label for="compactMode2">Standart</label>
            </div>
        </div>

        <h5>Flat Layouts</h5>
        <div class="layout-themes">
            <div *ngFor="let flatLayout of flatLayoutColors">
                <a style="cursor: pointer" class="flat-layouts" (click)="changeLayout(flatLayout.label)"
                   [ngStyle]="{'background-color': flatLayout.color}">
                    <i class="pi pi-check" *ngIf="layout === flatLayout.label"></i>
                </a>
            </div>
        </div>

        <h5>Special Layouts</h5>
        <div class="layout-themes">
            <div *ngFor="let specialLayout of specialLayoutColors">
                <a style="cursor: pointer" (click)="changeLayout(specialLayout.label)">
                    <img src="assets/layout/images/configurator/layout/special/{{specialLayout.image}}.png"
                         [alt]="specialLayout.label"/>
                    <i class="pi pi-check" *ngIf="layout === specialLayout.label"></i>
                </a>
            </div>
        </div>

        <h5>Themes</h5>
        <div class="layout-themes">
            <div *ngFor="let theme of themes">
                <a style="cursor: pointer" (click)="changeTheme(theme.label)">
                    <img src="assets/layout/images/configurator/theme/{{theme.image}}.svg" [alt]="theme.label"/>
                    <i class="pi pi-check" *ngIf="themeColor === theme.label"></i>
                </a>
            </div>
        </div>
    </div>
</div>