<div class="login-body">
    <div class="login-panel p-fluid">
      <div class="login-panel-header">
        <img src="assets/layout/images/logo-spc-ngang.png">
      </div>
      <div class="login-panel-content">
        <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
          <div class="p-grid">
            <div class="p-col-12">
              <h1>Thay đổi mật khẩu sử dụng</h1>
              <p-messages [value]="msgs" [closable]="false"></p-messages>
            </div>
            <div class="p-col-12">
              <span class="p-field">
                <label>Mật khẩu mới</label>
                <input type="password" pInputText formControlName="newPassword">
                <small class="p-invalid" *ngIf="submitted && f.newPassword.errors && f.newPassword.errors.required">
                  Vui lòng nhập mật khẩu mới
                </small>
                <small class="p-invalid" *ngIf="submitted && f.newPassword.errors && f.newPassword.errors.pattern">
                  Mật khẩu mới gồm ít nhất 8 kí tự, có ít nhất một kí tự số, một
                  kí tự viết hoa, một kí tự viết thường, một kí tự đặc biệt và phải khác với mật khẩu được đặt trước đó
                </small>
                <small class="p-invalid"
                  *ngIf="submitted && f.newPassword.errors && f.newPassword.errors.confirmedValidator">
                  Mật khẩu mới phải khác với mật khẩu hiện tại
                </small>
              </span>
            </div>
            <div class="p-col-12">
              <span class="p-field">
                <label>Nhập lại mật khẩu mới</label>
                <input type="password" pInputText formControlName="confirmPassword">
                <small class="p-invalid"
                  *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.required">
                  Vui lòng nhập lại mật khẩu mới
                </small>
                <small class="p-invalid"
                  *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.pattern">
                  Mật khẩu mới gồm ít nhất 8 kí tự, có ít nhất một kí tự số, một
                  kí tự viết hoa, một kí tự viết thường, một kí tự đặc biệt và phải khác với mật khẩu được đặt trước đó
                </small>
                <small class="p-invalid"
                  *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.confirmedValidator">
                  Nhập lại mật khẩu không đúng
                </small>
              </span>
            </div>
            <div class="p-col-12">
              <button pButton type="submit" label="Cập nhật"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  