<p-dialog  
    [closable]="false" [style]="{'background-color':'transparent','box-shadow': 'none'}" 
    [contentStyle]="{'background-color':'transparent'}" 
    [(visible)]="isLoading" 
    [dismissableMask]="false" 
    [modal]="true" 
    [blockScroll]="true" 
    [showHeader]="false">
    <div class="splash-screen" style="background-color: transparent;">
      <div class="splash-loader-container" >
          <svg class="splash-loader" width="105px" height="105px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
             <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
      </div>
  </div>
</p-dialog>
<div class="p-grid">
<div class="card">
    <div class="p-grid">
        <div class="p-col-12">
            <p-table 
            #dt [rows]="10" [paginator]="true"
                [globalFilterFields]="[]" 
                [(selection)]="selectedVattu"
                [rowHover]="true" 
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục"
                [value]="vattus" 
                sortField="TEN_NVIEN_TCONG" 
                sortMode="single" 
                (onSort)="onSort()"
                [showCurrentPageReport]="true" 
                >
                <ng-template pTemplate="caption">
                    <div class="p-grid">
                        <div class="p-col-4 p-d-flex p-jc-start">
                          <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                              placeholder="Lọc..." />
                          </span>
                        </div>
                        <div class="p-col-8 p-d-flex p-jc-end">
                          
                          <!-- <div class="p-mb-2 p-mr-2">
                            <p-multiSelect [options]="nguoiTHiens"  defaultLabel="Người thực hiện" [dataKey]="value"
                              class="multiselect-custom">
                            </p-multiSelect>
                          </div> -->
                          <div class="p-mb-2 p-mr-2">
                            <p-dropdown 
                              [options]="nhanviens" 
                              showClear="true" 
                              [filter]="true" filterBy="label,value"
                              [(ngModel)]="selectedNhanvien" 
                              defaultLabel="Chọn nhân viên">
                            </p-dropdown>
                          </div>
                          <div class="p-mb-2 p-mr-2">
                          <p-calendar inputId="tuNgay" [(ngModel)]="tuNgay" dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Từ ngày"></p-calendar>
                          </div>
                          <div class="p-mb-2 p-mr-2">
                            <p-calendar inputId="denNgay" [(ngModel)]="denNgay"  dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Đến ngày"></p-calendar>
                          </div>
                         
                          
                          
                          <div class="p-mb-2 p-mr-2">
                            <button pButton pRipple label="Xem"   class="p-button-success" style="height: 45px;"></button>
                          </div>
                          <div class="p-mb-2 p-mr-2">
                            <button pButton pRipple label="Xuất báo cáo" (click)="reportExecl()"   class="p-button-warning" style="height: 45px;"></button>
                            <button pButton pRipple label="Xuất báo cáo" (click)="reportExecl1()"   class="p-button-warning" style="height: 45px;"></button>
                            <button pButton pRipple label="Xuất báo cáo" (click)="reportExecl2()"   class="p-button-warning" style="height: 45px;"></button>
                            <button pButton pRipple label="Xuất báo cáo" (click)="reportExecl3()"   class="p-button-warning" style="height: 45px;"></button>
                          </div>
                        </div>
                      </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="p-col-1">STT</th>
                        <th class="p-col-2">Mã vật tư</th>
                        <th class="p-col-4">Tên vật tư</th>
                        <th class="p-col-2">Đơn vị tính</th>
                        <th class="p-col-2">Số lượng</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-vattu let-rowIndex="rowIndex">
                    <tr *ngIf="rowGroupMetadata[vattu.TEN_NVIEN_TCONG].index === rowIndex">
                        <td colspan="5">
                            <span class="p-text-bold p-ml-2">{{vattu.TEN_NVIEN_TCONG}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{rowIndex + 1}}
                        </td>
                        <td>
                            {{vattu.MA_VTU}}
                        </td>
                        <td>
                            {{vattu.TEN_VTU}}
                        </td>
                        <td>
                            {{vattu.DVI_TINH}}
                        </td>
                        <td>
                            {{vattu.SO_LUONG}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <!-- <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng số yêu cầu: {{vattus ? vattus.length : 0 }}
                    </div> -->
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
</div>