<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Xóa" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedBienban()" [disabled]="!selectedBienbans || !selectedBienbans.length"></button>
             
  
        </ng-template>
        <ng-template pTemplate="right">
            
            <button pButton pRipple label="Quyết toán"  class="p-button-danger"
              (click)="deleteSelectedBienban()" [disabled]="!selectedBienbans || !selectedBienbans.length"></button>
             
  
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="bienbanlists" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="bienbanlistSelected" [rowHover]="true" dataKey="soBbanTcong"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-grid">
                <div class="p-col-4 p-d-flex p-jc-start">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Lọc biên bản giao..." />
                  </span>
                </div>
                <div class="p-col-8 p-d-flex p-jc-end">
                  
                  <!-- <div class="p-mb-2 p-mr-2">
                    <p-multiSelect [options]="nguoiTHiens"  defaultLabel="Người thực hiện" [dataKey]="value"
                      class="multiselect-custom">
                    </p-multiSelect>
                  </div> -->
                  
                  <div class="p-mb-2 p-mr-2">
                  <p-calendar inputId="ngaygiaotu"  dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Ngày giao từ"></p-calendar>
                  </div>
                  <div class="p-mb-2 p-mr-2">
                    <p-calendar inputId="ngaygiaoden"  dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Ngày giao đến"></p-calendar>
                  </div>
                 
                  <div class="p-mb-2 p-mr-2">
                    <p-multiSelect  [(ngModel)]="selectedNGiaos" defaultLabel="Người giao"
                      [dataKey]="value" class="multiselect-custom">
                    </p-multiSelect>
                  </div>
                  <div class="p-mb-2 p-mr-2">
                    <p-multiSelect  [(ngModel)]="selectedNGiaos" defaultLabel="Trạng thái"
                      [dataKey]="value" class="multiselect-custom">
                    </p-multiSelect>
                  </div>
                  <div class="p-mb-2 p-mr-2">
                    <button pButton pRipple (click)="seenData()" icon="pi pi-search"
                      class="p-button-success p-mt-1"></button>
                  </div>
                </div>
              </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="text-align: center;" pSortableColumn="name">Số biên bản <p-sortIcon field="name"></p-sortIcon></th>
              
                <th style="text-align: center;" pSortableColumn="price">Ngày phân công <p-sortIcon field="price"></p-sortIcon></th>
                <th style="text-align: center;" pSortableColumn="category">Ngày quyết toán <p-sortIcon field="category"></p-sortIcon></th>
                <th style="text-align: center;" pSortableColumn="category">Nhân viên <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating" style="text-align: center;">Tổng số TC <p-sortIcon field="rating"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">Trạng thái <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bienbanlist>
            <tr>
                <td>
                    <p-tableCheckbox [value]="bienbanlist"></p-tableCheckbox>
                </td>
                <td style="text-align: center;" >{{bienbanlist.soBbanTcong}}</td>
                <td style="text-align: center;">{{bienbanlist.soBbanTcong}}</td>
                <td style="text-align: center;">{{bienbanlist.soBbanTcong}}</td>
                <td style="text-align: center;">{{bienbanlist.soBbanTcong}}</td>
                <td style="text-align: center;">{{bienbanlist.soBbanTcong}}</td>
                <td><span [class]="'product-badge status-' + (bienbanlist.trangThai ? bienbanlist.trangThai : 0)">{{loadNameStatus(bienbanlist.trangThai)}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(bienbanlist)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(bienbanlist)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng biên bản: {{bienbanlists ? bienbanlists.length : 0 }}
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
        </div>
        <div class="p-field">
            <label for="inventoryStatus">Inventory Status</label>
            <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-field">
            <label class="p-mb-3">Category</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category1">Accessories</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category2">Clothing</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category3">Electronics</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category4">Fitness</label>
                </div>
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>