<p-dialog [(visible)]="display" [style]="{width: '700px'}" header="Thêm mới TU" [modal]="true"
styleClass="p-fluid">
<ng-template pTemplate="content">
    <div class="p-grid">
        <div class="p-col-12">
         
      
          <p-table #dt [value]="hsoTus" [rows]="4" [paginator]="true"
            [globalFilterFields]="['SO_TU','NAM_SX','NGAY_KDINH','MA_TU']" [(selection)]="selectedHsoTu"
            [rowHover]="true" dataKey="MA_TU"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
              <div class="p-grid">
                <div class="p-col-6 p-d-flex p-jc-start">
                 
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Tìm kiếm..." />
                  </span>
                </div>
                <div class="p-col-6 p-d-flex p-jc-end">
                  
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                
                <th pSortableColumn="MA_KHANG" class="p-col-3">Mã TU <p-sortIcon field="MA_KHANG"></p-sortIcon>
                </th>
                <th pSortableColumn="DIA_CHI" class="p-col-3">Số No <p-sortIcon field="DIA_CHI"></p-sortIcon>
                </th>
                <th pSortableColumn="EMAIL" class="p-col-3" style="text-align:center">Năm sản xuất <p-sortIcon field="EMAIL"></p-sortIcon>
                </th>
                <th pSortableColumn="MA_SOGCS" class="p-col-3">Ngày kiểm định <p-sortIcon field="MA_SOGCS"></p-sortIcon>
                </th>
                <th  style="align-items: center;width: 1rem;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                
                <!-- <th class="p-col-1"></th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dsTu>
              <tr>
                
                <td class="p-col-2">
                  {{dsTu.MA_TU}}
                </td>
                <td class="p-col-2">
                  {{dsTu.SO_TU}}
                </td>
                <td class="p-col-1" style="text-align:center">
                  {{dsTu.NAM_SX}}
                </td>
                <td class="p-col-2" style="text-align: center;">
                  {{dsTu.NGAY_KDINH | date: 'dd/MM/yyyy'}}
                </td>
                <td  style="align-items: center;width: 1rem;">
                  <p-tableCheckbox [value]="dsTu"></p-tableCheckbox>
                </td>
                
              </tr>
            </ng-template>
           
          </p-table>
      
        </div>
      </div>
</ng-template>

<ng-template pTemplate="footer">
  <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
</ng-template>
</p-dialog>