<div class="p-grid">
    <div class="p-col-12">
      <p-dialog  [closable]="false" [style]="{'background-color':'transparent','box-shadow': 'none'}" [contentStyle]="{'background-color':'transparent'}" [(visible)]="display" [dismissableMask]="false" [modal]="true" [blockScroll]="true" [showHeader]="false">
        <div class="splash-screen" style="background-color: transparent;">
          <div class="splash-loader-container" >
              <svg class="splash-loader" width="105px" height="105px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
          </div>
      </div>
      </p-dialog>
      <p-toast></p-toast>
  
      <div class="card">
        <p-toolbar>
          <ng-template pTemplate="left">
            <button pButton pRipple label="Quay lại" (click)="back()" icon="pi pi-angle-double-left" class="p-button-warning"></button>
          </ng-template>
  
          <ng-template pTemplate="right">
            <!-- <button pButton pRipple [disabled]="true" label="In biên bản giao" icon="pi pi-print" class="p-button-info p-mr-2"></button> -->
            <button pButton pRipple label="Lưu biên bản giao" (click)="save()" [disabled]="!selectedYeucauthicong || !selectedYeucauthicong.length || soBienBan " icon="pi pi-save" class="p-button-raised"></button>
          </ng-template>
        </p-toolbar>
      </div>
  
      <div class="card">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-2">
            <label for="sobbgiao">Số biên bản</label>
            <input id="sobbgiao" type="text" [(ngModel)]="soBienBan" pInputText [disabled]="true">
          </div>
          <div class="p-field p-col-12 p-md-2">
            <label for="sokh">Tổng yêu cầu</label>
            <input id="sokh" type="text" [(ngModel)]="selectedYeucauthicong.length" pInputText [disabled]="true">
          </div>
          <div class="p-field p-col-12 p-md-2">
            <label for="ngaygiao">Ngày phân công</label>
            <p-calendar inputId="ngaygiao" [(ngModel)]="ngayGiao" [minDate]="minDate" dateFormat="dd/mm/yy"  [showIcon]="true" required></p-calendar>
            <small class="p-invalid" *ngIf="submitted && !ngayGiao">Vui lòng nhập ngày giao.</small>
          </div>
          <div class="p-field p-col-12 p-md-3">
            <label for="listBoPhan">Bộ phận</label>
            <p-dropdown inputId="listBoPhan" [options]="listBoPhan" 
            (onChange)="loadNgThien($event)"
            [(ngModel)]="selectedBoPhan" filter="true" required
            autofocus placeholder="Chọn bộ phận thực hiện" dataKey="value"></p-dropdown>
              <small class="p-invalid" *ngIf="submitted && !selectedNguoiTH">Vui lòng chọn bộ phận thực hiện.</small>
          </div>
          <div class="p-field p-col-12 p-md-3">
            <label for="nguoith">Người thực hiện</label>
            <p-dropdown inputId="nguoith" [options]="nguoiths" 
            (onChange)="loadInitData($event)"
            [(ngModel)]="selectedNguoiTH" filter="true" required
            autofocus placeholder="Chọn người thực hiện" dataKey="value"></p-dropdown>
              <small class="p-invalid" *ngIf="submitted && !selectedNguoiTH">Vui lòng chọn người thực hiện.</small>
          </div>
        </div>
      </div>
  
      <p-table #dt [value]="dsYeuCauThiCong" [rows]="10" [paginator]="true"
        [globalFilterFields]="['MA_YCAU_KNAI','MA_KHANG','TEN_KHANG', 'DTHOAI_DVU', 'MA_SO', 'MA_TRAM', 'MA_KVUC', 'STT']" 
        [(selection)]="selectedYeucauthicong"
        [rowHover]="true" dataKey="MA_YCAU_KNAI" currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-6 p-d-flex p-jc-start">
              <!-- <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Lọc yêu cầu..." />
              </span> -->
            </div>
            <div class="p-col-6 p-d-flex p-jc-end">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Lọc yêu cầu..." />
              </span>
              <!-- <div class="p-mb-2 p-mr-2">
                <p-multiSelect [options]="soGCSs" [(ngModel)]="selectedSoGCSs" [maxSelectedLabels]="2" defaultLabel="Từ ngày"
                  [dataKey]="value" class="multiselect-custom">
                </p-multiSelect>
              </div>
              <div class="p-mb-2 p-mr-2">
                <p-multiSelect [options]="trams" [(ngModel)]="selectedTrams" [maxSelectedLabels]="2" defaultLabel="Đến ngày" [dataKey]="value"
                  class="multiselect-custom">
                </p-multiSelect>
              </div>
              <div class="p-mb-2 p-mr-2">
                <button pButton pRipple (click)="searchCustomers()" icon="pi pi-search"
                  class="p-button-success p-mt-1"></button>
              </div> -->
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox (click)="loadDuToan()"></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="MA_KHANG" class="p-col-3">Mã yêu cầu <p-sortIcon field="MA_KHANG"></p-sortIcon>
            </th>
            <th pSortableColumn="DIA_CHI" class="p-col-3">Tên người yêu cầu <p-sortIcon field="DIA_CHI"></p-sortIcon>
            </th>
            <th pSortableColumn="EMAIL" class="p-col-2">Điện thoại <p-sortIcon field="EMAIL"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_SOGCS" class="p-col-2">Địa chỉ <p-sortIcon field="MA_SOGCS"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_KVUC" class="p-col-2">Ngày hẹn <p-sortIcon field="MA_KVUC"></p-sortIcon>
            </th>
            
            <!-- <th class="p-col-1"></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-yCauThiCong>
          <tr>
            <td>
              <p-tableCheckbox (click)="loadDuToan()" [value]="yCauThiCong"></p-tableCheckbox>
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12">
                  {{yCauThiCong.MA_YCAU_KNAI}}
                </div>
                <div class="p-col-12">
                  {{yCauThiCong.TEN_KHANG}}
                </div>
              </div>
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12">
                  {{yCauThiCong.MA_KHANG}}
                </div>
                <div class="p-col-12">
                  {{yCauThiCong.TEN_KHANG}}
                </div>
              </div>
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12">
                  Khách hàng:
                  <a href="tel: {{yCauThiCong.DTHOAI}}">
                    {{yCauThiCong.DTHOAI}}
                  </a>
                </div>
                <div class="p-col-12">
                  Đại diện:
                  <a href="tel: {{yCauThiCong.DTHOAI_DD}}">
                    {{yCauThiCong.DTHOAI_DD}}
                  </a>
                </div>
              </div>
            </td>
            <td>
              {{yCauThiCong.DCHI_NGUOIYCAU}}
            </td>
            <td>
              {{yCauThiCong.NGAY_BDAU  | date: 'dd/MM/yyyy' }}
            </td>
            
            
            <!-- <td>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteBienban(customer)"></button>
            </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <!-- <div class="p-d-flex p-ai-center p-jc-between">
            Tổng số yêu cầu: {{dsYeuCauThiCong ? dsYeuCauThiCong.length : 0 }}
          </div> -->
        </ng-template>
      </p-table>
  
    </div>
  </div>
  <!-- Vat tu start -->
  <div class="p-grid">

    <div class="p-col-12">
    
      <p-table #dt1 [value]="dtoanVattus" [rows]="10" [paginator]="true"
        [globalFilterFields]="['MA_VTU','TEN_VTU', 'SO_LUONG', 'DON_GIA', 'DVI_TINH', 'NGAY_BDONG']" 
        [(selection)]="selectedDtoanVattu"
        [rowHover]="true" dataKey="MA_VTU" currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">

          <div class="p-grid">
            <div class="p-col-6 p-d-flex p-jc-start">
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" label="Thêm" icon="pi pi-plus" (click)="addVatTu()" class="p-button-success"></button>
              </div>
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" (click)="deleteVattu()" label="Xoá" icon="pi pi-trash" class="p-button-danger"></button>
              </div>
              
            </div>
            <div class="p-col-6 p-d-flex p-jc-end">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                  placeholder="Lọc vật tư..." />
              </span>
                <!-- <div class="p-mb-2 p-mr-2">
                  <button pButton type="button" label="Xoá" class="p-button-danger"></button>
                </div>
                <div class="p-mb-2 p-mr-2">
                  <button pButton type="button" label="Thêm" class="p-button-success"></button>
                </div> -->
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="MA_KHANG" class="p-col-3">Mã vật tư <p-sortIcon field="MA_KHANG"></p-sortIcon>
            </th>
            <th pSortableColumn="DIA_CHI" class="p-col-3">Tên vật tư <p-sortIcon field="DIA_CHI"></p-sortIcon>
            </th>
            <th pSortableColumn="EMAIL" class="p-col-2">Số lượng <p-sortIcon field="EMAIL"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_SOGCS" class="p-col-2">Đơn vị tính <p-sortIcon field="MA_SOGCS"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_KVUC" class="p-col-2">Tính tiền <p-sortIcon field="MA_KVUC"></p-sortIcon>
            </th>
            
            
            <!-- <th class="p-col-1"></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dtoanVattu>
          <tr>
            <td>
              <p-tableCheckbox [value]="dtoanVattu"></p-tableCheckbox>
            </td>
            <td>
              {{dtoanVattu.MA_VTU}}
            </td>
            <td>
              {{dtoanVattu.TEN_VTU}}
            </td>
            
            <td>
              {{dtoanVattu.SO_LUONG}}
            </td>
            <td>
              {{dtoanVattu.DVI_TINH}}
            </td>
            <td>
              {{dtoanVattu.TINH_TIEN === '0' ? 'Không' : 'Có'}}
            </td>
           
            
            
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <!-- <div class="p-d-flex p-ai-center p-jc-between">
            Tổng số vật tư: {{dtoanVattus ? dtoanVattus.length : 0 }}
          </div> -->
        </ng-template>
      </p-table>
  
    </div>
  </div>
<!-- Vật tư end  -->

<!-- Thiết bị start -->
  <div class="p-grid">
    <div class="p-col-12">
      <p-table #dt [value]="congtos" [rows]="10" [paginator]="true"
        [globalFilterFields]="['MA_CTO','TEN_KHANG', 'DTHOAI_DVU', 'MA_SO', 'MA_TRAM', 'MA_KVUC', 'STT']" 
        [(selection)]="selectedCongto"
        [rowHover]="true" dataKey="MA_CTO" currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-6 p-d-flex p-jc-start">
              <!-- <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Lọc thiết bị..." />
              </span> -->
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" label="Thêm" icon="pi pi-plus" (click)="addThietbi()" class="p-button-success"></button>
              </div>
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" (click)="deleteCongto()" label="Xoá" icon="pi pi-trash" class="p-button-danger"></button>
              </div>
              
            </div>
            <div class="p-col-6 p-d-flex p-jc-end">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Lọc công tơ..." />
              </span>
              <!-- <div class="p-mb-2 p-mr-2">
                <button pButton type="button" label="Xoá" class="p-button-danger"></button>
              </div>
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" label="Thêm" class="p-button-success"></button>
              </div> -->
          </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="MA_KHANG" class="p-col-3">Mã công tơ <p-sortIcon field="MA_KHANG"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_KHANG" class="p-col-3">Số công tơ <p-sortIcon field="MA_KHANG"></p-sortIcon>
            </th>
            <th pSortableColumn="DIA_CHI" class="p-col-3">Năm sản xuất <p-sortIcon field="DIA_CHI"></p-sortIcon>
            </th>
            <th pSortableColumn="EMAIL" class="p-col-2">Chủng loại <p-sortIcon field="EMAIL"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_SOGCS" class="p-col-2">Ngày kiểm định <p-sortIcon field="MA_SOGCS"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_KVUC" class="p-col-2">Km/ số công tơ <p-sortIcon field="MA_KVUC"></p-sortIcon>
            </th>
            
            <!-- <th class="p-col-1"></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-congto>
          <tr>
            <td>
              <p-tableCheckbox [value]="congto"></p-tableCheckbox>
            </td>
            <td>
              {{congto.MA_CTO}}
            </td>
            <td>
              {{congto.SO_CTO}}
            </td>
            <td>
              {{congto.NAM_SX}}
            </td>
            <td>
              {{congto.MA_CLOAI}}
            </td>
            <td>
              {{congto.NGAY_KDINH | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{congto.SERY_TEMKD}}
            </td>
            
            
            <!-- <td>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteBienban(customer)"></button>
            </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <!-- <div class="p-d-flex p-ai-center p-jc-between">
            Tổng số thiết bị: {{congtos ? congtos.length : 0 }}
          </div> -->
        </ng-template>
      </p-table>
  
    </div>
  </div>

  <!-- Số ti start -->
  <div class="p-grid">
    <div class="p-col-12">
      <p-table #dt [value]="hsoTis" [rows]="10" [paginator]="true"
        [globalFilterFields]="['MA_KHANG','TEN_KHANG', 'DTHOAI_DVU', 'MA_SO', 'MA_TRAM', 'MA_KVUC', 'STT']" 
        [(selection)]="selectedHsoTi"
        [rowHover]="true" dataKey="MA_TI" currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-6 p-d-flex p-jc-start">
              <!-- <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Lọc thiết bị..." />
              </span> -->
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" label="Thêm" icon="pi pi-plus" (click)="addTi()" class="p-button-success"></button>
              </div>
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" (click)="deleteHsoTi()" label="Xoá" icon="pi pi-trash" class="p-button-danger"></button>
              </div>
              
            </div>
            <div class="p-col-6 p-d-flex p-jc-end">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Lọc ti..." />
              </span>
              <!-- <div class="p-mb-2 p-mr-2">
                <button pButton type="button" label="Xoá" class="p-button-danger"></button>
              </div>
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" label="Thêm" class="p-button-success"></button>
              </div> -->
          </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="MA_KHANG" class="p-col-3">Mã TI <p-sortIcon field="MA_KHANG"></p-sortIcon>
            </th>
            <th pSortableColumn="DIA_CHI" class="p-col-3">Số No <p-sortIcon field="DIA_CHI"></p-sortIcon>
            </th>
            <th pSortableColumn="EMAIL" class="p-col-2">Năm sản xuất <p-sortIcon field="EMAIL"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_SOGCS" class="p-col-2">Loại <p-sortIcon field="MA_SOGCS"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_KVUC" class="p-col-2">Ngày kiểm định <p-sortIcon field="MA_KVUC"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_KVUC" class="p-col-2">Chì hộp/ Số viên <p-sortIcon field="MA_KVUC"></p-sortIcon>
            </th>
            
            <!-- <th class="p-col-1"></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hsoTi>
          <tr>
            <td>
              <p-tableCheckbox [value]="hsoTi"></p-tableCheckbox>
            </td>
            <td>
              {{hsoTi.MA_TI}}
            </td>
            <td>
              {{hsoTi.SO_TI}}
            </td>
            <td>
              {{hsoTi.NAM_SX}}
            </td>
            <td>
              {{hsoTi.MA_CLOAI}}
            </td>
            <td>
              {{hsoTi.NGAY_KDINH | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{hsoTi.SO_CHIKD}}
            </td>
            
            
            <!-- <td>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteBienban(customer)"></button>
            </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <!-- <div class="p-d-flex p-ai-center p-jc-between">
            Tổng TI: {{hsoTis ? hsoTis.length : 0 }}
          </div> -->
        </ng-template>
      </p-table>
  
    </div>
  </div>
  <!-- Số tu start -->
  <div class="p-grid">
    <div class="p-col-12">
      <p-table #dt [value]="hsoTus" [rows]="10" [paginator]="true"
        [globalFilterFields]="['MA_KHANG','TEN_KHANG', 'DTHOAI_DVU', 'MA_SO', 'MA_TRAM', 'MA_KVUC', 'STT']" 
        [(selection)]="selectedHsoTu"
        [rowHover]="true" dataKey="MA_TU" currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-6 p-d-flex p-jc-start">
              <!-- <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Lọc thiết bị..." />
              </span> -->
              
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" icon="pi pi-plus" label="Thêm" (click)="addTu()" class="p-button-success"></button>
              </div>
              <div class="p-mb-2 p-mr-2">
                <button pButton  type="button" (click)="deleteHsoTu()" icon="pi pi-trash" label="Xoá" class="p-button-danger"></button>
              </div>
            </div>
            <div class="p-col-6 p-d-flex p-jc-end">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Lọc TU..." />
              </span>
              <!-- <div class="p-mb-2 p-mr-2">
                <button pButton type="button" label="Xoá" class="p-button-danger"></button>
              </div>
              <div class="p-mb-2 p-mr-2">
                <button pButton type="button" label="Thêm" class="p-button-success"></button>
              </div> -->
          </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="MA_KHANG" class="p-col-3">Mã TU <p-sortIcon field="MA_KHANG"></p-sortIcon>
            </th>
            <th pSortableColumn="DIA_CHI" class="p-col-3">Số No <p-sortIcon field="DIA_CHI"></p-sortIcon>
            </th>
            <th pSortableColumn="EMAIL" class="p-col-2">Năm sản xuất <p-sortIcon field="EMAIL"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_SOGCS" class="p-col-2">Loại <p-sortIcon field="MA_SOGCS"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_KVUC" class="p-col-2">Ngày kiểm định <p-sortIcon field="MA_KVUC"></p-sortIcon>
            </th>
            <th pSortableColumn="MA_KVUC" class="p-col-2">Chì hộp/ Số viên <p-sortIcon field="MA_KVUC"></p-sortIcon>
            </th>
            
            <!-- <th class="p-col-1"></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hsoTu>
          <tr>
            <td>
              <p-tableCheckbox [value]="hsoTu"></p-tableCheckbox>
            </td>
            <td>
              {{hsoTu.MA_TU}}
            </td>
            <td>
              {{hsoTu.SO_TU}}
            </td>
            <td>
              {{hsoTu.NAM_SX}}
            </td>
            <td>
              {{hsoTu.MA_CLOAI}}
            </td>
            <td>
              {{hsoTu.NGAY_KDINH}}
            </td>
            <td>
              {{hsoTu.SO_CHIKD}}
            </td>
            
            <!-- <td>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteBienban(customer)"></button>
            </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <!-- <div class="p-d-flex p-ai-center p-jc-between">
            Tổng TU: {{hsoTus ? hsoTus.length : 0 }}
          </div> -->
        </ng-template>
      </p-table>
  
    </div>
  </div>

<app-bb-cmis-vattu (onListData)="loadListVatTu($event)" #vattu></app-bb-cmis-vattu>
<app-bb-cmis-tu #tu (onListData)="loadListTu($event)"></app-bb-cmis-tu>
<app-bb-cmis-ti #ti (onListData)="loadListTi($event)"></app-bb-cmis-ti>
<app-bb-cmis-thiet-bi #thietbi (onListData)="loadListThietbi($event)"></app-bb-cmis-thiet-bi>
  