<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Tạo mới" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple label="Xóa" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedDevice()" [disabled]="!selectedDevices || !selectedDevices.length"></button>
        </ng-template>

        <!-- <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template> -->
      </p-toolbar>

      <p-table #dt [value]="devices" [columns]="cols" [rows]="10" [paginator]="true"
        [globalFilterFields]="['DEVICE_NAME','IMEI','ACCOUNT_NAME','MODIFIED_BY']" [(selection)]="selectedDevices"
        [rowHover]="true" dataKey="DEVICE_ID" currentPageReportTemplate="Hiển thị {first} đến {last} trong tổng {totalRecords} mục"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Bảng thiết bị</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="DEVICE_NAME" class="p-col-2">Tên thiết bị <p-sortIcon field="nameDevice"></p-sortIcon>
            </th>
            <th pSortableColumn="IMEI" class="p-col-2">IMEI <p-sortIcon field="maImei"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="serialNumber" class="p-col-2">SERIAL <p-sortIcon field="serialNumber"></p-sortIcon>
            </th> -->
            <th pSortableColumn="ACCOUNT_NAME" class="p-col-2">Tài khoản sử dụng <p-sortIcon field="userAccount"></p-sortIcon>
            </th>
            <th pSortableColumn="MODIFIED_BY" class="p-col-2">Thời gian chỉnh sửa cuối <p-sortIcon field="serialNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="status" style="text-align: center;" class="p-col-2">Hoạt động<p-sortIcon
                field="inventoryStatus">
              </p-sortIcon>
            </th>
            <th class="p-col-2"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-device>
          <tr>
            <td>
              <p-tableCheckbox [value]="device"></p-tableCheckbox>
            </td>
            <td>
              {{device.DEVICE_NAME}}
            </td>
            <td>
              {{device.IMEI}}
            </td>
            <!-- <td>{{device.IMEI}}</td> -->
            <td style="text-align:center">{{device.ACCOUNT_NAME ? device.ACCOUNT_NAME : ''}}</td>
            <td style="text-align:center">
              {{device.MODIFIED_ON | date: 'dd/MM/yyyy'}}
            </td>
            <td style="text-align: center;">
              <p-checkbox 
                [binary]="device.ACTIVE"
                [value]="device.ACTIVE" 
                [editable]="false" 
                [(ngModel)]="device.ACTIVE" 
                name="chb"
                [disabled]="true" ></p-checkbox>
            </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editDevice(device)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteDevice(device)"></button>
              <!-- <span>
                <button type="button" pButton pRipple icon="pi pi-bars" class="p-button-rounded"
                  (click)="actions.toggle($event)"></button>
                <p-menu #actions popup="popup" appendTo="body" [model]="items"></p-menu>
              </span> -->
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Có tổng số {{devices ? devices.length : 0 }} thiết bị.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="deviceDialog" [style]="{width: '450px'}" header="Thiết bị" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="name">Tên thiết bị <span style="color: red;">*</span></label>
          <input type="text" pInputText id="name" [(ngModel)]="device.DEVICE_NAME" required autofocus />
        </div>
        <div class="p-field">
          <label for="name">IMEI <span style="color: red;">*</span></label>
          <input type="text" pInputText id="category" [(ngModel)]="device.IMEI" required />
        </div>
        <div class="p-field-checkbox">
          <p-checkbox 
                [binary]="true"
                [value]="status" 
                [(ngModel)]="status" 
                name="chb"
                [disabled]="false" ></p-checkbox>
          <label for="ch">Hoạt động</label>
      </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveDevice()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
