<div class="layout-footer clearfix">
    <a href="dashboard.xhtml">
        <img alt="logo-colored" src="assets/layout/images/logo-spc-ngang.png" />
    </a>
    <!-- <span class="footer-text-right">
        <span class="material-icons">copyright</span>
        <span> SPC</span>
    </span> -->
</div>