<p-dialog [(visible)]="display" [style]="{width: '700px'}" header="Thêm mới TI" [modal]="true"
styleClass="p-fluid">
<ng-template pTemplate="content">
    <div class="p-grid">
        <div class="p-col-12">
         
      
          <p-table #dt [value]="dsTis" [rows]="4" [paginator]="true"
            [globalFilterFields]="['MA_TI','SO_TI','NAM_SX','NGAY_KDINH']" [(selection)]="selectedDsTi"
            [rowHover]="true" dataKey="MA_TI"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
              <div class="p-grid">
                <div class="p-col-6 p-d-flex p-jc-start">
                 
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Tìm kiếm..." />
                  </span>
                </div>
                <div class="p-col-6 p-d-flex p-jc-end">
                  
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                
                <th pSortableColumn="MA_TI" class="p-col-3">Mã TI <p-sortIcon field="MA_KHANG"></p-sortIcon>
                </th>
                <th pSortableColumn="SO_TI" class="p-col-3">Số No <p-sortIcon field="DIA_CHI"></p-sortIcon>
                </th>
                <th pSortableColumn="NAM_SX" class="p-col-3" style="text-align:center">Năm sản xuất <p-sortIcon field="EMAIL"></p-sortIcon>
                </th>
                <th pSortableColumn="NGAY_KDINH" class="p-col-3">Ngày kiểm định <p-sortIcon field="MA_SOGCS"></p-sortIcon>
                </th>
                <th  style="align-items: center;width: 1rem;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                
                <!-- <th class="p-col-1"></th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dsTi>
              <tr>
                
                <td class="p-col-2">
                  {{dsTi.MA_TI}}
                </td>
                <td class="p-col-2">
                  {{dsTi.SO_TI}}
                </td>
                <td class="p-col-1" style="text-align:center">
                  {{dsTi.NAM_SX}}
                </td>
                <td class="p-col-2" style="text-align: center;">
                  {{dsTi.NGAY_KDINH | date: 'dd/MM/yyyy'}}
                </td>
                <td  style="align-items: center;width: 1rem;">
                  <p-tableCheckbox [value]="dsTi"></p-tableCheckbox>
                </td>
                
              </tr>
            </ng-template>
           
          </p-table>
      
        </div>
      </div>
</ng-template>

<ng-template pTemplate="footer">
  <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
</ng-template>
</p-dialog>