<div class="login-body">
    <div class="login-panel p-fluid">
      <div class="login-panel-header">
        <img src="assets/layout/images/logo-spc-ngang.png">
      </div>
      <div class="login-panel-content">
        <div class="p-grid">
          <div class="p-col-12">
            <h1>HỆ THỐNG ĐIỀU TRA THÔNG TIN KHÁCH HÀNG BẰNG THIẾT BỊ DI ĐỘNG</h1>
            <p-messages [value]="msgs" [closable]="false"></p-messages>
          </div>
          <div class="p-col-12">
            <span class="p-field">
              <label>Tài khoản đăng nhập</label>
              <input type="text" pInputText [(ngModel)]="userName" required autofocus />
            </span>
          </div>
          
          <div class="p-col-12">
            <button pButton type="button" [disabled]="isButton" label="Gởi mail" (click)="send()" icon="pi pi-user"></button>
          </div>
          <div class="p-col-12">
            <a [routerLink]="['/login']" >Có tài khoản đăng nhập?</a>
          </div>
          <!-- <div class="p-col-12">
            <div style="color: red">{{message}}</div>
        </div> -->
        </div>
        
      </div>
    </div>
  </div>
  