<p-dialog [(visible)]="display" [style]="{width: '700px'}" header="Thêm mới vật tư" [modal]="true"
styleClass="p-fluid">
<ng-template pTemplate="content">
    <div class="p-grid">
        <div class="p-col-12">
         
      
          <p-table #dtvt [value]="vattus" [rows]="4" [paginator]="true"
            [globalFilterFields]="['MA_VTU']" [(selection)]="selectedVattu"
            [rowHover]="true" dataKey="MA_VTU"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
              <div class="p-grid">
                <div class="p-col-6 p-d-flex p-jc-start">
                 
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dtvt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Tìm kiếm..." />
                  </span>
                </div>
                <div class="p-col-6 p-d-flex p-jc-end">
                  
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                
                <th pSortableColumn="MA_KHANG" class="p-col-3">Mã vật tư <p-sortIcon field="MA_KHANG"></p-sortIcon>
                </th>
                <th pSortableColumn="DIA_CHI" class="p-col-3">Tên vật tư <p-sortIcon field="DIA_CHI"></p-sortIcon>
                </th>
                <th pSortableColumn="EMAIL" class="p-col-3">Số lượng <p-sortIcon field="EMAIL"></p-sortIcon>
                </th>
                <th pSortableColumn="MA_SOGCS" class="p-col-3">Đơn vị tính<p-sortIcon field="MA_SOGCS"></p-sortIcon>
                </th>
                <th style="align-items: center" pSortableColumn="MA_SOGCS" class="p-col-3">Tính tiền <p-sortIcon field="MA_SOGCS"></p-sortIcon>
                </th>
                <th style="align-items: center;width: 1rem;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                
                <!-- <th class="p-col-1"></th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-vattu>
              <tr>
                <td class="p-col-2">
                  {{vattu.MA_VTU}}
                </td>
                <td class="p-col-2">
                  {{vattu.TEN_VTU}}
                </td>
                <td class="p-col-1" style="text-align:center" pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText [(ngModel)]="vattu.SO_LUONG">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{vattu.SO_LUONG}}
                    </ng-template>
                </p-cellEditor>
                </td>
                
               
                <!-- <td class="p-col-1" style="text-align:center">
                  {{vattu.SO_LUONG}}
                </td> -->
                <td class="p-col-2" style="text-align: center;">
                  {{vattu.DVI_TINH}}
                </td>
                <td class="p-col-2" style="text-align: center;">
                  <p-checkbox [binary]="true"  value="1" [(ngModel)]="vattu.TINH_TIEN"></p-checkbox>
                  <!-- <p-tableCheckbox [value]="vattu" ></p-tableCheckbox> -->
                </td>
                <td  style="align-items: center;width: 1rem;">
                  <p-tableCheckbox [value]="vattu"></p-tableCheckbox>
                </td>
               
                
              </tr>
            </ng-template>
           
          </p-table>
      
        </div>
      </div>
</ng-template>

<ng-template pTemplate="footer">
  <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
</ng-template>
</p-dialog>