<p-dialog [(visible)]="display" [style]="{width: '920px'}" header="Thêm công tơ" [modal]="true"
styleClass="p-fluid">
<ng-template pTemplate="content">
    <div class="p-grid">
        <div class="p-col-12">
         
      
          <p-table #dt [value]="congtos" [rows]="4" [paginator]="true"
            [globalFilterFields]="['MA_CTO','SO_CTO','NAM_SX','NGAY_KDINH']" [(selection)]="selectedCongto"
            [rowHover]="true" dataKey="MA_CTO"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
              <div class="p-grid">
                <div class="p-col-3 p-d-flex p-jc-start">
                 
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Tìm kiếm..." />
                  </span>
                </div>
                <div class="p-col-6 p-d-flex p-jc-end">
                  
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                
                <th pSortableColumn="MA_KHANG" class="p-col-3">Mã công tơ <p-sortIcon field="MA_KHANG"></p-sortIcon>
                </th>
                <th pSortableColumn="DIA_CHI" class="p-col-3">Số công tơ <p-sortIcon field="DIA_CHI"></p-sortIcon>
                </th>
                <th pSortableColumn="EMAIL" class="p-col-3">Năm sản xuất<p-sortIcon field="EMAIL"></p-sortIcon>
                </th>
                <th pSortableColumn="MA_SOGCS" class="p-col-3">Ngày kiểm định <p-sortIcon field="MA_SOGCS"></p-sortIcon>
                </th>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                
                <!-- <th class="p-col-1"></th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-congto>
              <tr>
               
                <td>
                  {{congto.MA_CTO}}
                </td>
                <td>
                  {{congto.SO_CTO}}
                </td>
                <td >
                   {{congto.NAM_SX}}
                </td>
                <td>
                    {{congto.NGAY_KDINH | date: 'mm/DD/yyyy'}}
                </td>
                <td>
                  <p-tableCheckbox [value]="congto"></p-tableCheckbox>
                </td>
                
              </tr>
            </ng-template>
           
          </p-table>
      
        </div>
      </div>
</ng-template>

<ng-template pTemplate="footer">
  <button pButton  label="Bỏ qua" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  <button pButton  label="Chọn" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
</ng-template>
</p-dialog>